In [21]:
import nevis
from scipy.optimize import minimize
import numpy as np

In [11]:
ben = nevis.Hill.by_rank(1).coords
x, y = ben.grid
print(x, y)

216666 771288

In [12]:
f = nevis.linear_interpolant()
f(x, y)

1328.839118701152

In [16]:
ret = minimize(lambda u: -f(*u), [x, y])

In [17]:
ret.fun

-1344.951375765824

In [18]:
ben_x, ben_y = ret.x

In [20]:
print(((ben_x - x)**2 + (ben_y - y)**2) ** 0.5)

16.61829562837248

In [66]:
import pandas as pd

def lowest_neighbor(cx, cy):
    res = []
    for R  in [0, 10, 25, 50, 100]:
        min_z = 1e10
        for _ in range(10000):
            theta = np.random.uniform(0, 2 * np.pi)
            r = np.random.uniform(0, R)
            x = r * np.cos(theta) + cx
            y = r * np.sin(theta) + cy
            z = f(x, y)
            min_z = min(z, min_z)

        res.append({
            "radius": R,
            "minimum height": min_z,
        })

    return pd.DataFrame(res)

In [67]:
mac = nevis.Hill.by_rank(3).coords
x, y = mac.grid
ret = minimize(lambda u: -f(*u), [x, y])
print(ret.fun)
mac_x, mac_y = ret.x
lowest_neighbor(mac_x, mac_y)

-1293.900024411702

   radius  minimum height
0       0     1293.900024
1      10     1287.766844
2      25     1276.278256
3      50     1251.159347
4     100     1182.576007

In [62]:
lowest_neighbor(ben_x, ben_y)

     r        min_z
0    0  1344.951376
1   10  1336.209441
2   25  1317.590389
3   50  1272.713262
4  100  1195.117503